@model ManagePersonDetails.Models.Person

@{
    ViewBag.Title = "Update";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Scripts/Framework/bootstrap/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Scripts/Framework/bootstrap/bsvalidator/css/bootstrapvalidator.css" rel="stylesheet" type="text/css" media="all" />


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Framework/bootstrap/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Framework/bootstrap/bsValidator/js/bootstrapValidator.js" type="text/javascript"></script>
    <script src="~/Scripts/Utility.js"></script>
    <style type="text/css">
        .heading {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ba1f25 -6%, #ffffff 1%, #f6f6f6 74%, #ededed 100%) repeat scroll 0 0;
    border-bottom: 1px dotted #f0f0f0;
    color: #ba1f25;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 5px;
    text-indent: 10px;
        }
        .box {
            border: 1px solid #d3d3d3;
            padding: 15px;
            border-radius: 5px;
        }
        .required { color:red;}
    </style>
</head>
<body>

    <div class="col-md-12">

        <br />
        <div class="col-md-3"></div>
        <div class="col-md-6 heading">
            <div>Update Person Details</div>
        </div>
        <div class="col-md-3"></div>


              

        <div class="clearfix"></div>
        

        <div class="col-md-3"></div>

        <div class="col-md-6 box">

            <div class="clearfix"></div>

            <div class="alert alert-success" id="divMessage" style="display:none;padding:10px !important;">
                <span id="spanMessage"></span>
            </div>

            <div class="clearfix"></div>

@foreach (ManagePersonDetails.Models.PersonReport person in Model.ListPerson)
{
    <form id="formUpdatePerson">

        <div class="col-md-4">
            First Name <span class="required">*</span>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" placeholder="First Name" maxlength="30" value="@person.FirstName" autocomplete="off" />
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4">
            Last Name <span class="required">*</span>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" id="txtLastName" name="txtLastName" class="form-control" placeholder="Last Name" maxlength="30" value="@person.LastName" autocomplete="off" />
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4">
            Gender <span class="required">*</span>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <div class="select-group fieldStyle inline ddl">
                    <select id="ddlGender" class="selectpicker dropup" name="ddlGender" data-title="SELECT GENDER">
                        <option value=""></option>
                        @if (person.Gender == "M")
                        {
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                        }
                        else
                        { 
                        <option value="M">Male</option>
                        <option value="F" selected>Female</option>
                        }                       
                        
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4">
            Email Address <span class="required">*</span>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email Address" maxlength="30" value="@person.EmailAddress" autocomplete="off" />
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4">
            Phone Number <span class="required">*</span>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" placeholder="Phone Number" maxlength="10" value="@person.PhoneNumber" autocomplete="off" onkeyup="return autoNumeric(this);" />
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4">
        </div>

        <div class="col-md-6">
            <button id="btnUpdatePerson" personid="@person.PersonID" class="btn btn-primary" type="submit"> Update</button>
            <a id="btnClose" class="btn btn-default" href="~/Home/Index"> Close</a>
        </div>

    </form>
}

            

        </div>

        <div class="col-md-3"></div>


    </div>



    <script type="text/javascript">



        $(document).ready(function () {

         //   clearAddPersonForm();
            $("#spanMessage").html("");
            destroyValidator("formUpdatePerson");

            $(".selectpicker").selectpicker();

            var optionAdd = {
                message: 'This value is not valid',
                submitButtons: '#btnUpdatePerson',
                submitHandler: function (validator, form) {
                    if (validator) {
                        updatePerson();
                    }
                },
                fields: {
                    txtFirstName: {
                        message: 'Enter first name',
                        validators: {
                            notEmpty: { message: 'Enter first name' }
                        }
                    },
                    txtLastName: {
                        message: 'Enter last name',
                        validators: {
                            notEmpty: { message: 'Enter last name' }
                        }
                    },
                    ddlGender: {
                        message: 'Select gender',
                        validators: {
                            notEmpty: { message: 'Select gender' }
                        }
                    },
                    txtEmail: {
                        message: 'Enter email address',
                        validators: {
                            notEmpty: { message: 'Enter email address' },
                            emailAddress: {
                                message: 'Enter valid email address'
                            },
                        }
                    },
                    txtPhoneNumber: {
                        validators: {
                            notEmpty: { message: 'Enter phone number' },
                            stringLength: {
                                min: 10, max: 10, message: 'Enter valid phone number'
                            },
                            regexp: {
                                regexp: /^[7-9]\d{9}$/, message: 'Enter valid phone number'
                            }
                        }
                    },
                }
            }

            $('#formUpdatePerson').bootstrapValidator(optionAdd);
        });


        function updatePerson() {            
            $("#spanMessage").html("");
            $("#divMessage").hide();
            var firstName = $("#txtFirstName").val();
            var lastName = $("#txtLastName").val();
            var gender = $("#ddlGender").val();
            var emailAddress = $("#txtEmail").val();
            var phoneNumber = $("#txtPhoneNumber").val();
            var personID = $("#btnUpdatePerson").attr("personid");

            var url = "@Url.Action("UpdatePerson", "Home")";
            //var model = { FirstName: firstName, LastName: lastName, PersonContact: [{ "EmailAddress": emailAddress, "PhoneNumber": phoneNumber }], Gender: gender, IsActive: true };

            var model = { FirstName: firstName, LastName: lastName, EmailAddress: emailAddress, PhoneNumber: phoneNumber, Gender: gender, IsActive: true, PersonID: personID };


            $.post(url, model, function (data) {
                $("#divMessage").show();
                $("#spanMessage").html("Person Details Updated Successfully !");
                //clearAddPersonForm();
            });
        }

        function clearAddPersonForm() {
            $("#txtFirstName").val("");
            $("#txtLastName").val("");
            $("#ddlGender").val("");
            $("#txtEmail").val("");
            $("#txtPhoneNumber").val("");
            $(".selectpicker").selectpicker("refresh");
            destroyValidator("formUpdatePerson");
        }


    </script>
</body>
</html>




